{{#each orders}}
<div class="card order-card">
  <div class="card-header">
    <h2>
      <span class="smallerFont">Order for:</span>
      <span class="largerFont">{{Client.clientName}} - {{Client.householdSize}} person(s) in the house hold.</span>
      </h2>
      <p>
        {{#if Client.soft}}
       <span>Soft,</span>
       {{/if}}
        {{#if Client.vegetarian}}
       <span>Vegetarian,</span>
       {{/if}}
       {{#if Client.vegan}}
       <span>Vegan,</span>
       {{/if}}
       {{#if Client.halal}}
       <span>Halal,</span>
       {{/if}}
       {{#if Client.kosher}}
       <span>Kosher,</span>
       {{/if}}
       {{#if Client.glutenFree}}
       <span>Gluten Free,</span>
       {{/if}}
       {{#if Client.cookingAccess}}
       <span>Has Cooking Access,</span>
       {{/if}}
       {{#if Client.microwaveOnly}}
       <span>Microwave Only,</span>
       {{/if}}
       {{#if hasOtherRestrictions}}
       <span>Other Restrictions: {{Client.otherRestrictions}}</span>
       {{/if}}
      </p>
  </div>
     <div class="card-body">
       <ul>
       <p>{{notes}}</p>
       {{#if bag}}
       <li>Bags</li>
       {{/if}}
       {{#if box}}
       <li>Boxes</li>
       {{/if}}
       {{#if box_quantity}}
       <li>Can carry {{box_quantity}} Boxes</li>
       {{/if}}
       {{#if bag_quantity}}
       <li>Can carry {{bag_quantity}} bags</li>
       {{/if}}
      

       {{#each foods as |food|}}
         <li>{{food}}</li>
         {{/each}}
       {{#each preferences as |preference|}}
       {{#if preference.value}}
         <li>{{preference.name}}: {{preference.value}}</li>
         {{/if}}
         {{/each}}
       </ul>

      <button type="button" class="btn btn-outline-delete btn-danger" data-orderId={{id}} >Delete</button>
      <button type="button" class="btn  btn-info print-button" data-orderId={{id}} >Print</button>
     </div>
</div>
{{/each}}


{{!-- <div class="input-group">
  <input type="text" class="form-control" placeholder="Add specials" aria-label="specials">
  <button class="btn btn-outline-secondary" id= "specialsBtn" type="button">Submit Specials</button>
  
</div> --}}

<script src="/js/admin.js"></script>