{{#each orders}}
<div class="card">
  <div class="card-header">
    <h2>
      <span class="smallerFont">Order for:</span>
      <span class="largerFont">{{Client.clientName}}</span>
      </h2>
  </div>
     <div class="card-body">
       <ul>
       <p>{{notes}}</p>
       {{#if bag}}
       <li>Bags</li>
       {{/if}}
       {{#if box}}
       <li>Boxes</li>
       {{/if}}
       {{#if box_quantity}}
       <li>Can carry {{box_quantity}} Boxes</li>
       {{/if}}
       {{#if bag_quantity}}
       <li>Can carry {{bag_quantity}} bags</li>
       {{/if}}

       {{#each foods as |food|}}
         <li>{{food}}</li>
         {{/each}}
       {{#each preferences as |preference|}}
       {{#if preference.value}}
         <li>{{preference.name}}: {{preference.value}}</li>
         {{/if}}
         {{/each}}
       </ul>

      <button type="button" class="btn btn-outline-delete btn-danger" data-orderId={{id}} id="deleteBtn">Delete</button>
     </div>
</div>
{{/each}}


<div class="input-group">
  <input type="text" class="form-control" placeholder="Add specials" aria-label="specials">
  <button class="btn btn-outline-secondary" id= "specialsBtn" type="button">Submit Specials</button>
  
</div>

<script src="/js/admin.js"></script>