{{#each orders}}
<div class="card">
  <div class="card-header">
    <h2>{{Client.clientName}}</h2>
  </div>
     <div class="card-body">
       <p>{{notes}}</p>
       {{#if bag}}
       <p>Bags</p>
       {{/if}}
       {{#if box}}
       <p>Boxes</p>
       {{/if}}
       {{#if box_quantity}}
       <p>Can carry {{box_quantity}} Boxes</p>
       {{/if}}
       {{#if bag_quantity}}
       <p>Can carry {{bag_quantity}} bags</p>
       {{/if}}

       {{#each foods as |food|}}
         <p>{{food}}</p>
         {{/each}}
       {{#each preferences as |preference|}}
       {{#if preference.value}}
         <p>{{preference.name}}: {{preference.value}}</p>
         {{/if}}
         {{/each}}
      <button type="button" class="btn btn-outline-delete" data-orderId={{id}} id="deleteBtn">Delete</button>
     </div>
</div>
{{/each}}

<div class="input-group">
  <span class="input-group-text">Add specials</span>
  <textarea class="form-control" aria-label="specials"></textarea>
  <button class="btn-primary" type="submit" id= "specialsBtn" value="Submit"></button>
</div>

<script src="/js/admin.js"></script>